<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a = []

In [2]:
# print the value of a

print(a)

[]

In [3]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [4]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [5]:
len(languages)

5

Using for loop iterate and print all the elements in the list

In [6]:
for i in languages:
    print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [7]:
temp = languages[1]

Print the value of temp and type(temp)

In [13]:
print(temp)
print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [15]:
languages.append("Java")
languages

['R', 'Python', 'SAS', 'Scala', 42, 'Java', 'Java']

Remove the element 42 from the list and print the list

In [17]:
languages.remove(42)
languages

['R', 'Python', 'SAS', 'Scala', 'Java', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [41]:
colors = ['Red','Blue','White']

Append the element 'Black' to colors

In [42]:
colors.append('Black')
colors

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [43]:
colors.insert(1,'Orange')

Print the list

In [45]:
colors

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [46]:
colors2 = ['Grey','Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [47]:
colors.extend(colors2)
colors

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [48]:
len(colors)
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [50]:
colors.sort()
print("List in Ascending"colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [52]:
sent = "Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [66]:

words = sent.split(" ")
words

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

In [67]:
words_lower=[]
for word in words:
    words_lower.append(word.lower())
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [69]:
'country' in words

False

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [74]:
words_lower.remove('the')
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [75]:
x4 = words_lower[:4]

In [76]:
# print x4

x4

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [77]:
print(" ".join(words_lower))

coronavirus caused lockdowns around world.

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [82]:
stud_grades = ['A','A','B','C','C','F']
stud_grades

['A', 'A', 'B', 'C', 'C', 'F']

Print the len of stud_grades

In [83]:
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [84]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [85]:
print(stud_grades_set)

{'F', 'C', 'A', 'B'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [86]:
print(type(stud_grades))
print(type(stud_grades_set))

<class 'list'>
<class 'set'>

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [87]:
stud_grades_set.add('G')

{'A', 'B', 'C', 'F', 'G'}

Add element 'F' to stud_grades_set. and print it.

In [88]:
stud_grades_set.add('F')
print(stud_grades_set)

{'F', 'A', 'B', 'G', 'C'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [89]:
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [91]:
print(stud_grades_set)
print(len(stud_grades_set))

{'A', 'B', 'G', 'C'}
4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [92]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [93]:
print(colors,fruits)

['red', 'blue', 'orange'] ['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [94]:
colors_set = set(colors)
fruits_set = set(fruits)

Find the union of both the sets.

In [96]:
colors_set.union(fruits_set)

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [97]:
colors_set.intersection(fruits_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [99]:
colors_set.difference(fruits_set)

{'blue', 'red'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [100]:
temp = [17,'Virat',50.0]

Iterate through temp and print all the items in temp

In [101]:
for t in temp:
    print(t)

17
Virat
50.0

replace first element with 11 in temp

In [102]:
temp[0] = 11

Set temp1 = tuple(temp)

In [106]:
temp1 = tuple(temp)
temp1

(11, 'Virat', 50.0)

Iterate through temp1 and print all the items in temp1.

In [107]:
for t in temp1:
    print(t)

11
Virat
50.0

replace first element with 17 in temp1

In [108]:
temp1[0] = 17

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [109]:
city = ('Banglore',28.9949521,72)

Print first element of city

In [110]:
city

('Banglore', 28.9949521, 72)

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [112]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [113]:
cities = city + city2

Print cities

In [114]:
cities

('Banglore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [115]:
print(type(cities[0]))

<class 'str'>

print the type of cities

In [116]:
type(cities)

tuple

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [119]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [118]:
print(d[0])

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [120]:
actor = d['actor']

Print the type of actor

In [121]:
print(type(actor))

<class 'str'>

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [122]:
List = d['list']

Print the type of List.

In [123]:
print(type(List))

<class 'list'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [124]:
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [127]:
d.update(d1)

print d

In [128]:
d

{'actor': 'amir',
 'animal': 'cat',
 'earth': 2,
 'list': [23, 32, 12],
 'singer': 'Kr$na',
 'album': 'Still here',
 'genre': 'hip-hop'}

Print all the keys in d

In [130]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [131]:
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [141]:
for key,value in d.items():
    print(key,"-->",value)

actor --> amir
animal --> cat
earth --> 2
list --> [23, 32, 12]
singer --> Kr$na
album --> Still here
genre --> hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [144]:
var ='sent'

count = {}

for char in var:
    if char!=' ':
        count[char]=count.get(char,0)+1
        
for char,c in count.items():
    print(f"{char} : {c}")

s : 1
e : 1
n : 1
t : 1